  
  body{
    font-family: "Tahoma";
    background-color: #FFFFFF;
    padding-right: 100px;
    padding-left: 100px;
  }
  
  #headDiv{
    text-align: center;
    padding: 20px;
    width: 97%;
  }

  #dateInput{
    min-width: 300px; 
    text-align: center; 
    margin-right: 40px;
  }
  
  #mainContainerDiv{
    float: left;
    width: 33%;
    text-align: center;
  }

  #dayTasksDiv{
    float: right;
    width: 55%;
    padding: 10px 40px 10px 40px;
    overflow-y: auto;
    text-align: center;
    height: 460px;
  }

  .div {
    margin-top: 25px;
    background-color: #E7E7E7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(20, 21, 21, 0.2) 0 -10px 10px -7px inset,rgba(13, 13, 13, 0.09) 0 1px 2px,rgba(20, 21, 20, 0.09) 0 1px 2px,rgba(25, 26, 26, 0.09) 0 1px 2px,rgba(17, 17, 17, 0.09) 0 2px 4px,rgba(15, 15, 15, 0.09) 0 4px 8px;
  }

  .btn {
    border: 0;
    margin-bottom: 10px;
    padding: 10px;
    color: #FFFFFF;
    width: 300px;
    border-radius: 10px;
    height: 35px;
    box-shadow: rgba(20, 21, 21, 0.2) 0 -10px 10px -7px inset,rgba(13, 13, 13, 0.09) 0 1px 2px,rgba(20, 21, 20, 0.09) 0 1px 2px,rgba(25, 26, 26, 0.09) 0 1px 2px,rgba(17, 17, 17, 0.09) 0 2px 4px,rgba(15, 15, 15, 0.09) 0 4px 8px;
  }

  
  .addBtn {
    background-color: #67DA3F;
  }
  
  .addBtn:hover {
    box-shadow: rgba(44,187,99,.10) 0 -25px 18px -14px inset,rgba(44,187,99,.10) 0 1px 2px,rgba(44,187,99,.10) 0 2px 4px,rgba(44,187,99,.10) 0 4px 8px,rgba(44,187,99,.10) 0 8px 16px,rgba(44,187,99,.10) 0 16px 32px;
    transform: scale(1.05) ;
    cursor: pointer;
  } 
  .deleteBtn{
    background-color: #C93C3C;
  }

  .deleteBtn:hover {
    box-shadow: rgba(226, 45, 17, 0.10) 0 -25px 18px -14px inset,rgba(226, 45, 17,.10) 0 1px 2px,rgba(226, 45, 17,.10) 0 2px 4px,rgba(226, 45, 17,.10) 0 4px 8px,rgba(226, 45, 17,.10) 0 8px 16px,rgba(226, 45, 17,.10) 0 16px 32px;
    transform: scale(1.05) ;
    cursor: pointer;
  } 

  #categoryFilterSelect{
    min-width: 300px; 
    text-align: center; 
    margin-left: 40px;
  }

  #newTaskCategorySelect{
    min-width: 300px;
    margin: 12px;
  }

  #newTaskNameInput{
    min-width: 200px;
  }

  .done {
    text-decoration: line-through;
  }

  input {
    border-radius: 5px;
    border: 0;
    height: 25px;
  }

  .colorPick {
    width:25px;
    height:25px;
    overflow: hidden;
    border-radius:100%;
    display: inline-block;
    position: relative;
    top: 7px;
  }


  input[type="color"] {
    position: relative;
    right: 10px;
    bottom: 7px;
    width:200%;
    height:200%;
    margin: auto;
    padding: 0;
  }

  select {
    border-radius: 5px;
    height: 25px;
    border: 0;
    background-color: #FFFFFF;
  }

  .task {
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    margin-top: 20px;
    box-sizing: border-box;
    height: 80px;
    box-shadow: rgba(20, 21, 21, 0.2) 0 -10px 10px -7px inset,rgba(13, 13, 13, 0.09) 0 1px 2px,rgba(20, 21, 20, 0.09) 0 1px 2px,rgba(25, 26, 26, 0.09) 0 1px 2px,rgba(17, 17, 17, 0.09) 0 2px 4px,rgba(15, 15, 15, 0.09) 0 4px 8px;

  
    /* padding: 0px 0 10px 0; */
    
  }

  .taskName {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
    line-height: 0.2;
  }

  .taskCategory {
    text-align: center;
    font-size: 14px;
    padding-bottom: 16px;
    color: rgb(128, 128, 128);
    line-height: 0.2;
  }

  .progress {
    height: 10px;
    padding: 0;
    margin: 0;
  }

  #progressDiv {
    width: 61%;
    margin-top: 10px;
    float: right;
  }

  #progressBar {
    background-color: #67DA3F;
  }
  
  .taskDelBtn {
    height: 20px;
    width:20px;
    position:relative;
    top:5px;
    border-radius: 100%;
  }